header {
    height: 115px;
    background-color: #b5b3de;
    font-size: 25px;
    border-radius:20px;
}
.centrer {
    text-align: center;
}
.petitecran {
    width: 970px;
    margin: auto;
    text-align: center;
}
.espace {
    border: 2px;
    background: #8080C0;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
#espacepublic {
    list-style-type:none; /* On enlève la puce */
    margin: 0; /* On retire les marges intérieures et extérieures */
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}
infos {
   width: 25%; 
   background-color: yellow;
}
#messagebienvenue {
    text-align: left;
}
.intro {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    font-style: !important;
}
.detailintro {
   text-align: left;
}
.titreveritable
{
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}
.decompte {
    text-align: left;
    font-size: 18px;
    text-decoration: none;
    padding-left: 25px;
    padding-top: 25px;
    width: 700px;
    height: 400px;
    overflow: auto;
}
.choix {
    padding-top: 30px;
    padding-left: 70px;
    text-align: left;
}
.echiquier
{
    display: inline-block;
    font-size: 0;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    width: 306px;
    height: 306px;
    padding: 0;
    margin: 0;
    float: left;
}
.leschiffres
{
    display: inline-block;
    float: left;
    margin: 0 auto;
    font-size: 0;
    width: 38px;
    height: 306px;
    padding: 0;
}
.chiffres
{
    display: inline-block;
    font-size: 15px;
    line-height: 38px;
    width: 38px;
    text-align: center;
    height: 38px;
}

.unecase
{
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
}
.leslettres
{
    margin-left: 38px;
    width: 306px;
    height: 36px;
}
.lettres
{
    font-size: 15px;
    float: left;
    margin: 0 auto;
    width: 38px;
    text-align: center;
    line-height: 38px;
}

.coupsdroite
{
    display: inline-block;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    float: right;
    text-align: left;
    padding: 15px;
    width: 230px;
    height: 320px;
    overflow-y: scroll;
}
.infosdroite
{
    display: inline-block;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    float: right;
    text-align: left;
    padding: 15px;
    width: 230px;
    height: 320px;
}
.piecesblanchessmangees
{
    clear: both;
    font-size: 15px;
    text-align: left;
    width: 540px;
    margin-left: 40px;
}
.piecesnoiressmangees
{
    clear: both;
    text-align: left;
    width: 540px;
    font-size: 15px;
    margin-left: 40px;
}

.titre
{
    width: 541px;
    font-size: 15px;
    margin-left: 38px;
    padding-left: 30px;
    text-align: left;
}
.button
{
   border-top: 1px solid #96d1f8;
   padding: 4.5px 33px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: 0 0 5px rgba(0,0,0,0.5),0 -1px 0 rgba(255,255,255,0.4);
   text-shadow: 0px, 1px, 0px rgba(255, 255, 255,0.2);
   color: #000000;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}
#user {
    background-color: salmon;
    width: 500px;
    font-size: 16px;
    height: 250px;
    padding: 5px;
    text-align: left;
}
#image {
    float: right;
    top: 0;
    display: inline-block;
}
.gauche {
    width: 50%;
}
.droite {
    width: 25%;
}
section .gauche{
    float:left;
}
section .gauche{
    float:right;
}

.infobulle_item{
    display:none;
    position:absolute;
    vertical-align:middle;
    background-color: white;
    border: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: black;
    padding: 8px 0;
    text-align: left;
    text-shadow: 0 1px 0 #b73b20;
    padding:10px 10px;
    text-decoration: none;
    margin:0 10px 20px 10px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    font-size:14px;
}
.profil {
    width:100%;
    height: 420px;
    text-align: center;
    padding-left: 20px;
    overflow: auto;
}
.icones {
    text-align: right;
}
.droite {
    text-align: right;
}
#photo {
    width: 20%;
}

.gauche {
    text-align: left;
    width:100%;
}

legend {
 color:#DF3F3F;
 font-weight:bold;
 }
table {
    padding: 15px;
    border-collapse:collapse;
}

th {
    text-align: center;
    background-color: #D0E3FA;
    padding: 2px;
}

td {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

a  {
    list-style-type: none;
}

nav {
    text-align: left;
    float: left;
    width: 20%; 
    height: 100%;
}
section {
    text-align: left;
    width: 70%;
    margin-left: 21%;
    padding-left: 60px;
}

h1, h2, h3, h4, h5, h6
{
    text-align:center;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}
a
{
    text-decoration: none;
    color: blue;
}
#content p, label, legend { font: 1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; }

/* Form style */
#content label { float: left; height: 26px; line-height: 26px; width: 155px; font-size: 1.5em; }
#content input, textarea {display:block; margin-bottom:50px; width: 280px; padding: 5px; color: #777; background: #f5f5f5; border: 1px solid #ccc;font:1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; -moz-border-radius: 5px; -webkit-border-radius:5px; }
#content input:focus, textarea:focus, select:focus { border: 1px solid #999; background-color: #fff; color:#333; }
#content fieldset { padding:20px; border:1px solid #eee; -moz-border-radius: 5px; -webkit-border-radius:5px; }
#content legend { padding:7px 10px; font-weight:bold; color:#000; border:1px solid #eee; -moz-border-radius: 5px; -webkit-border-radius:5px; }
#content textarea{width: 350px; height: 100px;}
#content span.required{ font-size: 13px; color: #ff0000; } /* Select the colour of the * if the field is required. */
#content a{color:#4E7C6A;}
#content a:hover{text-decoration:none; color:#444;}
#content h1{margin-bottom:20px;}



/* Style for the error message */

.error{color:#FF6262; font-size:1.1em;}

span.logout{float:right;}

#header ul li{background:#222;list-style-type:none; display:inline; font-size:15px; margin-bottom:10px; cursor:pointer; color:white;
border-right:solid white 1px; padding:10px;}

#commentaires{padding-top:50px; border-top:solid 1px #777;}

.com{border-top:solid 1px #F1F1F1; border-bottom:solid 1px #F1F1F1; padding:10px;}

span.auteur{font-size:20px; color:#4E7C6A;}
span.auteur a{font-size:15px; color:#4E7C6A;}

.success{width:50%; height:20px; line-height:20px; color:#149541; font-size:1.3em;}
.success_message{width:50%; height:20px; line-height:20px; color:#149541; font-size:1.3em;}

.loader{
  float:right;
  background:url('images/loader.gif') no-repeat;
  height:40px;
  width:40px;
}

#error_message{
  margin-top:50px;
  width:400px;
  padding:20px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  background:#FFD1D1;
  color:#FF6262;
  border: solid 1px #FF6262;
}

#success_message{
  margin-top:50px;
  width:400px;
  padding:20px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  background:#D7FDDA;
  color:#07BD12;
  border: solid 1px #07BD12;
}

.erreur{
  float:right;
  height:40px;
  padding:2px;
  color: red;
  text-decoration: underline;
}

div#container{
    width:700px;
    padding:5px;
}
div#a{
    float:left;
    width:200px;
    height: 250px;
}
div#b{
    vertical-align: top;
    margin-left:210px;
    width: 250px;
    height: 250px;
}
div#c{
    vertical-align: -200%;
    margin-left:410px;
    width: 200px;
    height: 250px;
}